/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Lato', sans-serif;
  background-color: black;
}
.navbar {
  margin: 20px auto;
  padding: 30px;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  color: #000000;
  background-color: #1DD15D;
  font-size: 3rem;
  border: 1px solid #000000;
}
@media (max-width: 500px) {
  .navbar {
    position: static;
    display: inline-block;
    text-align: center;
    padding: 16px;
    width: 90%;
    background-color: #000000;
    color: #1DD15D;
  }
  .navbar h1 {
    font-size: 2.5rem;
  }
}
a {
  font-size: 2rem;
  margin: 16px;
  color: #000000;
  text-decoration: none;
  justify-content: space-evenly;
}
a:hover {
  color: white;
}
@media (max-width: 500px) {
  a:hover {
    color: #1DD15D;
  }
}
@media (max-width: 500px) {
  a {
    flex-direction: row;
    justify-content: center;
    width: 90%;
    position: static;
    color: white;
    font-size: 1.25rem;
  }
}
footer {
  font-size: 0.75rem;
  color: #1DD15D;
  text-align: center;
  margin: 25px;
  margin-top: 100px;
}
.header-image {
  max-width: auto;
}
@media (max-width: 500px) {
  .header-image {
    display: none;
  }
}
.section-one {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .section-one {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 90%;
  }
}
.section-one .text-one {
  width: 48%;
  padding-right: 1%;
  border: 1px solid red;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .section-one .text-one {
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    max-width: 400px;
    width: 96%;
  }
}
.section-one .smaller-image-one {
  max-width: 500px;
  max-height: auto;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .section-one .smaller-image-one {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 360px;
    width: 90%;
  }
}
.section-two {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .section-two {
    flex-direction: column-reverse;
    margin-left: 30px;
    width: 90%;
  }
}
.section-two .text-two {
  width: 48%;
  padding-right: 1%;
  border: 1px solid red;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .section-two .text-two {
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    max-width: 400px;
    width: 96%;
  }
}
.section-two .smaller-image-two {
  max-width: 500px;
  max-height: auto;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .section-two .smaller-image-two {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 360px;
    width: 90%;
  }
}
.section-three {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .section-three {
    flex-direction: column;
    margin-left: 30px;
    width: 90%;
  }
}
.section-three .text-three {
  width: 48%;
  padding-right: 1%;
  border: 1px solid red;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .section-three .text-three {
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    max-width: 400px;
    width: 96%;
  }
}
.section-three .smaller-image-three {
  max-width: 500px;
  max-height: auto;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .section-three .smaller-image-three {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 360px;
    width: 90%;
  }
}
.social {
  text-align: center;
  margin: 5px 2px;
}
.social .fa {
  margin-top: 25px;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .social .fa {
    font-size: 20px;
    width: 40px;
  }
}
.social .fa:hover {
  background-color: #FFFFFF;
  color: #1DD15D;
}
.social .fa-facebook {
  background: #1DD15D;
  color: #FFFFFF;
}
.social .fa-twitter {
  background: #1DD15D;
  color: #FFFFFF;
}
.social .fa-youtube {
  background: #1DD15D;
  color: #FFFFFF;
}
.social .fa-instagram {
  background: #1DD15D;
  color: #FFFFFF;
}
.roadie {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.roadie .roadie-name {
  width: 48%;
  padding-right: 1%;
  border: 1px solid #1DD15D;
  color: #1DD15D;
  text-align: center;
  padding-top: 200px;
}
@media (max-width: 500px) {
  .roadie .roadie-name {
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    max-width: 400px;
    width: 96%;
    padding-top: 20px;
    border: none;
  }
}
.roadie .roadie-name h2 {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .roadie .roadie-name h2 {
    font-size: 2rem;
  }
}
.roadie .roadie-name .roadie-title {
  font-size: 2rem;
  color: #FFFFFF;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .roadie .roadie-name .roadie-title {
    font-size: 1.6rem;
    margin-top: 12px;
  }
}
.roadie .roadie-name button {
  background-color: #000000;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .roadie .roadie-name button {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
.roadie .roadie-name button:hover {
  background-color: #1DD15D;
  color: black;
}
.roadie .roadie-name button .git-button {
  text-decoration: none;
  color: #1DD15D;
  font-size: 1.5rem;
}
.roadie .roadie-name button .git-button:hover {
  color: black;
}
.roadie .roadie-image {
  max-width: 500px;
  max-height: auto;
  padding-left: 1%;
}
.roadie .roadie-image img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .roadie .roadie-image {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 360px;
    width: 90%;
  }
}
