.roadie {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .roadie-name {
    width: 48%;
    padding-right: 1%;
    border: 1px solid @spotify-green;
    color: @spotify-green;
    text-align: center;
    padding-top: 200px;

    @media @desktop {
      //flex-direction: row;
      justify-content: center;
      margin-left: 12px;
      max-width: 400px;
      width: 96%;
      padding-top: 180px;
    }  // close media

    @media @tablet {
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;
      max-width: 400px;
      width: 96%;
      padding-top: 20px;
      border: none;
    }  // close media

    @media @mobile {
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;
      max-width: 400px;
      width: 96%;
      padding-top: 20px;
      border: none;
    }  // close media
    
    h2 {
      font-size: 4rem;

      @media @desktop {
        font-size: 3.5rem;
      }  // close media

      @media @tablet {
        font-size: 3rem;
      }  // close media

      @media @mobile {
        font-size: 2rem;
      }  // close media
    }  // close h2

    .roadie-title {
      font-size: 2rem;
      color: @white;
      margin-top: 20px;

      @media @desktop {
        font-size: 1.6rem;
        margin-top: 12px;
      }  // close media

      @media @tablet {
        font-size: 1.6rem;
        margin-top: 12px;
      }  // close media

      @media @mobile {
        font-size: 1.6rem;
        margin-top: 12px;
      }  // close media
    }  // close roadie title

    button {
      background-color: @black;
      margin-top: 50px;

      @media @desktop {
        margin-top: 12px;
        margin-bottom: 24px;
      }  // close media

      @media @tablet {
        margin-top: 12px;
        margin-bottom: 24px;
      }  // close media

      @media @mobile {
        margin-top: 12px;
        margin-bottom: 24px;
      }  // close media
      
      &:hover {
        background-color: @spotify-green;
        color: @black;
      }  // close hover
      
      .git-button {
        text-decoration: none;
        color: @spotify-green;
        margin: 0px;
        padding: 0px;
       font-size: 1.5rem;

        &:hover {
          color: @black; 
        }  // close &hover
      }  // close git button
    }  // close button
  } // close roadie name
  
  .roadie-image {
    max-width: 500px;
    max-height: auto;
    padding-left: 1%;
      
    img {
     border-radius: 10px;
    } // close img

    @media @desktop {
      flex-direction: row;
      justify-content: center;
      margin-left: 30px;
      max-width: 460px;
    }  // close media

    @media @tablet {
      flex-direction: column;
      justify-content: center;
      margin-left: 30px;
      max-width: 460px;
      width: 90%;
    }  // close media

    @media @mobile {
      flex-direction: column;
      justify-content: center;
      margin-left: 30px;
      max-width: 360px;
      width: 90%;
    }  // close media
  }  //close roadie img
}  // close roadie


