.roadie {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .roadie-name {

    width: 48%;
    padding-right: 1%;
    border: 1px solid @spotify-green;
    color: @spotify-green;
    text-align: center;
    padding-top: 200px;
    
    h2 {
      font-size: 4rem;
    }

    .roadie-title {
      font-size: 2rem;
      color: @white;
    }

    button {
      background-color: @black;
      margin-top: 50px;

      .git-button {
        text-decoration: none;
        color: @spotify-green;
       font-size: 1.5rem;
      }
    }
  }
  
  .roadie-image {
    max-width: 500px;
    max-height: auto;
    padding-left: 1%;
      
      img {
        border-radius: 10px;
      }
  }
} 
