.header-image {
    max-width: auto;
}


.section-one {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-one {
        width: 48%;
        padding-right: 1%;
        border: 1px solid red;
        color: @white;
      }
  
      .smaller-image-one {
        max-width: 500px;
        max-height: auto;
        padding-left: 1%;
  
        img {
          border-radius: 10px;
        }
      }
    }

    .section-two {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .text-two {
            width: 48%;
            padding-right: 1%;
            border: 1px solid red;
            color: @white;
          }
      
          .smaller-image-two {
            max-width: 500px;
            max-height: auto;
            padding-left: 1%;
      
            img {
              border-radius: 10px;
            }
          }
        }

        .section-three {
            margin: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
            .text-three {
                width: 48%;
                padding-right: 1%;
                border: 1px solid red;
                color: @white;
              }
          
              .smaller-image-three {
                max-width: 500px;
                max-height: auto;
                padding-left: 1%;
          
                img {
                  border-radius: 10px;
                }
              }
            }
            