.header-image {
    max-width: auto;

    @media @desktop {
        max-width: 1000px;
    }

    @media @tablet {
        max-width: 800px; 
    }

    @media @mobile {
        display: none;
    }
}


.section-one {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media @desktop {
        flex-direction: row;
        margin: auto;
    }

    @media @tablet {
        flex-direction: row;
        margin: auto;
    }

    @media @mobile {
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        width: 90%;
    }

    .text-one {
        width: 48%;
        padding-right: 1%;
        border: 1px solid red;
        color: @white;
        line-height: 1.5rem;
        margin-top: 25px;

        @media @desktop {
            flex-direction: row;
            margin: auto;
            
        }

        @media @tablet {
            flex-direction: row;
            margin: auto;
            
        }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 12px;
            max-width: 400px;
            width: 96%;
            padding-top: 12px;
            padding-bottom: 20px;
        }
    }
  
    .smaller-image-one {
        max-width: 500px;
        max-height: auto;
        padding-left: 1%;
        //border-radius: 20px;

        @media @desktop {
            max-width: 420px;
        }

        @media @tablet {
            max-width: 360px;
        }
        
        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            max-width: 360px;
            width: 90%;
        }
    }
}

.section-two {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media @desktop {
        flex-direction: row;
        margin: auto;
    }

    @media @tablet {
        flex-direction: row;
        margin: auto;
    }

    @media @mobile {
        flex-direction: column-reverse;
        margin-left: 30px;
        width: 90%;
    }

    .text-two {
        width: 48%;
        padding-right: 1%;
        border: 1px solid red;
        color: @white;
        line-height: 1.5rem;
        margin-top: 25px;

        @media @desktop {
            flex-direction: row;
            margin: auto;
            
        }

        @media @tablet {
            flex-direction: row;
            margin: auto;
            
        }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 12px;
            max-width: 400px;
            width: 96%;
            padding-top: 12px;
            padding-bottom: 20px;
        }
    }
      
    .smaller-image-two {
        max-width: 500px;
        max-height: auto;
        padding-left: 1%;
        //border-radius: 20px;

        @media @desktop {
            max-width: 420px;
        }

        @media @tablet {
            max-width: 360px;
        }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            max-width: 360px;
            width: 90%;
        }
    }
}
          
        

.section-three {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media @desktop {
        flex-direction: row;
        margin: auto;
    }

    @media @tablet {
        flex-direction: row;
        margin: auto;
    }

    @media @mobile {
        flex-direction: column;
        width: 90%;
        margin-left: 30px;
        width: 90%;
    }

    .text-three {
        width: 48%;
        padding-right: 1%;
        border: 1px solid red;
        color: @white;
        line-height: 1.5rem;
        margin-top: 25px;
        padding-top: 12px;
        padding-bottom: 20px;

        @media @desktop {
            flex-direction: row;
            margin: auto;
            
        }

        @media @tablet {
            flex-direction: row;
            margin: auto;
            
        }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 12px;
            max-width: 400px;
            width: 96%;
        }
    }  
          
    .smaller-image-three {
        max-width: 500px;
        max-height: auto;
        padding-left: 1%;
        //border-radius: 20px;

        @media @desktop {
            max-width: 360px;
        }

        @media @tablet {
            max-width: 360px;
        }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            max-width: 360px;
            width: 90%;
        }
    }
}

.social {
    text-align: center;
    margin: 5px 2px;

    .fa {
        margin-top: 25px;
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-decoration: none; 

        @media @mobile {
           font-size: 20px;
           width: 40px;
        }
    }

    .fa:hover {
        background-color: @white;
        color: @spotify-green;
      }

    .fa-facebook {
        background: @spotify-green;
        color: @white;
      }

    .fa-twitter {
        background: @spotify-green;
        color: @white;
    }

    .fa-youtube {
        background: @spotify-green;
        color: @white;
    }
      
    .fa-instagram {
        background: @spotify-green;
        color: @white;
    }
}
                         